<h2>My Cart</h2>

<div class="mtop-40">
	<% @line_items.each_with_index do |line_item, index| %>
		<div class="row">
			<div class="col-md-3">
				<%= link_to line_item.product do %>
					<%= image_tag line_item.product.image.url, alt: line_item.product.name, width: "300", class: "img-responsive" %>
				<% end %>
			</div>
			<div class="col-md-4">
				<h4><%= link_to line_item.product.name, line_item.product %></h4>
				<ul>
					<li><%= number_to_currency line_item.product.price %>/ea.</li>
					<li id="li_qty_<%= index %>">Qty: <%= line_item.quantity %></li>
					<li id="edit_qty_<%= index %>" class="invisible">
						<%= form_tag(edit_line_item_path) do %>
							<%= number_field_tag :quantity, line_item.quantity %>
							<%= hidden_field_tag :id, line_item.id %>
							<%= submit_tag "Edit", class: "btn btn-warning" %>
						<% end %>
					</li>
					<li>Total: <%= number_to_currency line_item.line_item_total %></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-3">
				<button class="btn btn-warning" id="edit_btn_<%= index %>">Edit</button> 
				<%= link_to "Remove from Cart", remove_from_cart_path(id: line_item.id), class: "btn btn-danger" %>
			</div>
		</div>
		<script>
			$(document).ready(function(){
				$('#edit_btn_<%= index %>').click(function(){
					$(this).addClass("invisible");
					$('#li_qty_<%= index %>').addClass("invisible");
					$('#edit_qty_<%= index %>').removeClass("invisible");
				})
			})
		</script>
	<% end %>
</div>

<div class="mtop-40">
	<%= link_to "Proceed to Checkout?", checkout_path, class: "btn btn-success" %>
</div>